
 .vista-carrousel {

  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center
 }

 @media (min-width: 768px) {
  .vista-carrousel {
    width: 30%;
    height: 30%;
    background-color: black;
    justify-content: center;

  }
}
