<h1>Lista de productos</h1>

<div class="text-end">
    <button mat-raised-button color="primary" routerLink="/admin/books/new">
        Nuevo Productos
    </button>
</div>

<div *ngIf="bookPage" class="mt-5">
    <table mat-table [dataSource]="bookPage.content">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Producto</th>
            <td mat-cell *matCellDef="let book">
                <div class="d-flex gap-2">
                    <img [src]="book.coverPath | apiImg" alt="" class="mw-96px">

                    <div>
                        <div class="fw-bold">
                            {{ book.title }}
                        </div>
                        <p>
                            {{ book.desc }}
                        </p>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let book">
                {{ book.price | currency }}
            </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>F. creación</th>
            <td mat-cell *matCellDef="let book">
                {{ book.createdAt | date:'dd/MM/yyyy' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let book">
                <div class="d-flex flex-nowrap">
                    <button mat-icon-button [routerLink]="['/admin/books', book.id, 'edit']" color="primary"
                        matTooltip="Editar producto">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="ms-2" (click)="deleteBook(book)" color="warn"
                        matTooltip="Eliminar producto">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="bookPage.totalElements" [pageSize]="bookPage.size"
        (page)="paginateBooks($event)" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
