<div *ngIf="form">
  <h1>
    {{ book ? 'Editar' : 'Nuevo' }} Producto
  </h1>

  <div class="mt-5 alert alert-danger" *ngIf="errors.length">
    <ul>
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-8">
      <form class="mt-5" [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
        <mat-form-field class="mb-3 w-100" appearance="outline">
          <mat-label for="title">Título</mat-label>
          <input matInput id="title" type="text" placeholder="Título" formControlName="title" (keyup)="generateSlug()">
          <mat-error>
            <ng-container *ngIf="controlHasError('title', 'required')">
              Este campo es obligatorio
            </ng-container>
            <ng-container *ngIf="controlHasError('title', 'minlength')">
              Debe tener al menos 3 caracters
            </ng-container>
            <ng-container *ngIf="controlHasError('title', 'maxlength')">
              Debe tener 100 caracteres como máximo
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3 w-100" appearance="outline">
          <mat-label for="slug">Slug</mat-label>
          <input matInput id="slug" type="text" placeholder="Slug" formControlName="slug">
          <mat-error>
            <ng-container *ngIf="controlHasError('slug', 'required')">
              Este campo es obligatorio
            </ng-container>
            <ng-container *ngIf="controlHasError('slug', 'pattern')">
              El valor es inválido
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3 w-100" appearance="outline">
          <mat-label for="descripcion">Descripción</mat-label>
          <textarea matInput id="descripcion" placeholder="Descripción" formControlName="desc"></textarea>
          <mat-error>
            <ng-container *ngIf="controlHasError('desc', 'required')">
              Este campo es obligatorio
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-2 w-100" appearance="outline">
          <mat-label for="precio">Precio</mat-label>
          <input matInput id="precio" type="number" step="0.01" placeholder="Precio" formControlName="price">
          <mat-error>
            <ng-container *ngIf="controlHasError('price', 'required')">
              Este campo es obligatorio
            </ng-container>
            <ng-container *ngIf="controlHasError('price', 'min')">
              El valor debe ser 0 como mínimo
            </ng-container>
          </mat-error>
        </mat-form-field>
        <div class="mb-3">

          <mat-form-field appearance="outline" class="mb-2 w-100">
            <mat-label for="category">Categoria</mat-label>
            <mat-select id="category" placeholder="Selecciona categoria " formControlName="category" [(value)]="selectedCategory"
            [compareWith]="objectComparisonFunction">

              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <label for="portada">Portada</label>
          <input id="portada" type="file" class="form-control" accept=".png,.jpg,.jpeg"
            (change)="uploadFile($event, 'coverPath')">
          <div class="small text-muted" *ngIf="form.controls['coverPath'].value">
            Ruta actual: {{ form.controls['coverPath'].value }}
          </div>
          <mat-error class="small" *ngIf="controlHasError('coverPath', 'required')">
            Este campo es obligatorio
          </mat-error>
        </div>

        <!-- <div class="mb-3">
          <label for="pdf">Archivo PDF</label>
          <input id="pdf" type="file" class="form-control" accept="application/pdf"
            (change)="uploadFile($event, 'filePath')">
          <div class="small text-muted" *ngIf="form.controls['filePath'].value">
            Ruta actual: {{ form.controls['filePath'].value }}
          </div>
          <mat-error class="small" *ngIf="controlHasError('filePath', 'required')">
            Este campo es obligatorio
          </mat-error>
        </div> -->


        <div class="text-end mt-3">
          <button type="button" mat-raised-button routerLink="/admin/books">
            Cancelar
          </button>
          <button class="ms-2" mat-raised-button color="primary">
            {{ book ? 'Actualizar' : 'Crear' }} Producto
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-4 text-center">
      <div *ngIf="form.controls['coverPath'].value; else noCoverPathMessage">
        <div>Portada</div>
        <img [src]="form.controls['coverPath'].value | apiImg" alt="" class="img-thumbnail">
      </div>
      <ng-template #noCoverPathMessage>
        Sin portada
      </ng-template>
    </div>
  </div>
</div>
